
PORT=5173
PORT_FALLBACK=5174
VITE_API_BASE_URL=https://latticebackend-production.up.railway.app
VITE_DEV_API_PROXY_TARGET=https://latticebackend-production.up.railway.app
VITE_GOOGLE_CLIENT_ID=153387979068-lpcufrtfgb7mbpvt9ojms567dlaq2o5k.apps.googleusercontent.com